.html{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
@font-face{ 
     font-family: Daltd; 
     src: url('DALimited-Font.ttf'); 
 } 
 *{ 
     font-family: Daltd, arial; 
 } 
 .body-uno{ 
     background: black; 
     display: flex;
     justify-content: center;
     align-items: center;
     height: 90vh;
 } 
 
 /*pagina dos*/ 
 .titulo-app{ 
     color: white; 
     text-align: center; 
     font-size: 40px; 
 } 
        .play-plus-card { 
         background: white;
          width: 280px;
          padding-bottom: 20px;
          height: 100%;
          border-radius: 10px;
       display: grid; 
       place-items: center; 
          justify-content: center;
 } 
.cards{
  display: flex;
  justify-content: center;
}
#img{
  transform: translateY(20px);
  width: 150px;
  height: 150px;
}
button{
margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
}
   iframe{
       border: 0px;
       transform: translateY(20px);
       display: none;
       border-radius: 5px;
       height: 200px;
       
   }
#descarga{
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.formatodeapp > button{
    display: flex;
    justify-content: center;
    align-items: center;
}
