@font-face{ 
     font-family: Daltd; 
     src: url('DALimited-Font.ttf'); 
 } 
 *{ 
     font-family: Daltd, arial; 
 } 
 body{ 
     background: black; 
 } 
 nav{ 
     display: flex; 
     justify-content: space-around; 
     color: white; 
 } 
 a{ 
    text-decoration: none; 
 } 
 .presentacion{ 
     display: grid; 
     place-items: center; 
 } 
 .presentacion > h1{ 
     color: white; 
     font-size: 50px; 
 } 
 .presentacion > img{ 
     width: 15%; 
     height: auto; 
     transform: translateY(50%); 
 } 
 /*pagina dos*/ 
 .titulo-app{ 
     color: white; 
     text-align: center; 
     font-size: 40px; 
 } 
 .cards{ 
     border-radius: 5px;
     display: flex; 
    justify-content: space-between;  
    margin-left: 5%; 
 } 
 .cards > div{ 
 background: white; 
     margin-right: 10%; 
     padding: 3% 4% 200px 4%; 
     width: 250px; 
     height: 150px; 
 } 
 .cards > div > img{ 
     height: 160px; 
     width: 160px; 
    
 } 
 .cards > div > h2{ 
     font-size: 23px; 
     text-align: center; 
 } 
 .cards > div > p{ 
     text-align: center; 
 } 
  
        .play-plus-card { 
       display: grid; 
       place-items: center; 
 } 
 
